body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.text-font-base {
  font-family: robotoRegular;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.text-font-bold {
  font-family: robotoRegular;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.flex-base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-view {
  width: 100%;
  height: 100vh;
}
